body {
    background-color: turquoise;
    font-family: Helvetica, arial, sans-serif;
}   

.container {
    margin: 120px auto;
    max-width: 600px;
      
}

a {
    color: #034e4e;
}

header {
    margin-bottom: 30px;
}

h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    color: #272044;
    text-align: center;
}

main {
    margin-bottom: 30px;
}

form {
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    border-radius: 10px;
    display: flex;
    margin-bottom: 30px
}

.instructions {
   padding: 16px;
   border: 1px solid rgba(39, 33, 66, 0.5);
   width: 80%;
   font-size: 14px;
   border-radius: 50px;
   line-height: 20px;
   color: #272044;
}

.submit-button {
    margin-left: 10px;
    background-color: #8eebeb;
    border: none;
    width: 150px;
    font-size: 16px;
    border-radius: 50px;
    padding: 14px 24px;
    color: #272044; 
    cursor: pointer;

}

.recipe {
   font-size: 14px; 
   background-color: #fff;
   padding: 20px;   
   line-height: 2;
   border-left: 3px solid #8eebeb;
   border-right: 3px solid #8eebeb;
   box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
}

.hidden {
    display: none;
}   

footer {
    text-align: center;
    font-size: 13px;
    color: #272044;
    margin-top: 30px;
}